.App {
	color: white;
	background-color: #4c576b;
  text-align: center;
  font-size: calc(10px + 2vmin);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section:nth-child(odd) {
	background-color: #3c475c;
}

.App-section:nth-child(even) {
	background-color: #4c576b;
}

.App-section > div {
  display: flex;
  flex-direction: row;

}

.App-section > div > p {
	flex: 1;
}

.App-section > div > h2 {
	flex: 0.5
}

.App-section > div > img {
	max-height: 55vh;
	max-width: 33vw;
	flex: 0.7
}

.App-section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
	padding: 0em 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
code {
	outline-color: white;
	outline-offset: 8px;
	outline-width: 2px;
	outline-style: solid;
	border-radius: 8px;
	margin: 8px;
}